<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/iconfont/material-icons.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper" style="background-color:#880000">
            <a href="#" class="brand-logo center">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>


    <br><br>
    <div class="row">


        <div class="col l3">



            <div class="row">
                <h4 class="" style="color:white;">CREATIONS</h4>
                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#modalerub" class="modal-trigger">

                        <img src="/images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>RUBRIQUE</span>


                        </div>
                    </a>

                </div>

                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#modalevt" class="modal-trigger">

                        <img src="/images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>EVENEMENT/ACTU</span>

                        </div>
                    </a>

                </div>

                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#school" class="modal-trigger">

                        <img src="/images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>ECOLES</span>

                        </div>
                    </a>

                </div>
                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#modal3" class="modal-trigger">

                        <img src="/images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>TEMOIGNAGE</span>

                        </div>
                    </a>

                </div>


            </div>
        </div>

        <div class="col l6">
            <br><br><br><br>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="https://images.unsplash.com/photo-1464817739973-0128fe77aaa1?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
                        <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5">
                        <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>






























        </div>


        <div class="col l3">

            <div class="row">
                <h4 class="" style="color:white;"> LISTES DES DONNEES</h4>
                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#rubriquepart" class="modal-trigger">

                        <img src="images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>RUBRIQUES</span>


                        </div>
                    </a>

                </div>



                <div class="col l6 z-depth-5 center offset-by-1">
                    <a href="#modaleEcole" class="modal-trigger">

                        <img src="/images/icon/event.png" class="" alt="image carnet" width="150px" height="150px">

                        <div class="card-panel white z-depth-5">

                            <span>ECOLES</span>

                        </div>
                    </a>

                </div>
                <br><br>



            </div>

        </div>




















    </div>

    <div id="modalerub" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <form action="/admin/rubrique" method="post" enctype="multipart/form-data">
                <h2 style="color: #880000">CREATION D 'UNE RUBRIQUE</h2>
                <div class="row">

                    <div class="input-field col s6 l12">
                        <input id="last_name" type="text" name="nomrubrique" class="validate  #880000">
                        <label for="last_name">Nom de la rubrique</label>
                    </div>


                    <div class="file-field col l12">
                        <div class="btn" style="background-color: #880000">
                            <span>logo de rubrique</span>
                            <input type="file" name="logorubique" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" name="logorubrique" type="text" placeholder="Choisisser le logo de le rubrique">
                        </div>
                    </div>




                </div>
                <button class="waves-effect waves-light btn   modal-trigger right" type="submit" style="background-color: #880000"><i class="material-icons left">edit</i>CREER</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>




    <div id="modaleActu" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <h2 style="color: #880000">CREATION D 'UNE ACTUALITE</h2>

            <form action="/doffou" method="POST">
                <div class="row">



                    <div class="file-field col l12">
                        <div class="btn" style="background-color: #880000">
                            <span>LOGO Rubrique</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Choisisser le logo de le rubrique">
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Description de l'Actu.</label>
                        </div>
                    </div>

                </div>
                <button class="waves-effect waves-light btn   modal-trigger right" type="submit" style="background-color: #880000"><i class="material-icons left">edit</i>CREER</button>
            </form>
        </div>


        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="modalevt" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <div class="row">
                <h3 class="center" style="color:#880000">CREATION D'EVENEMENT</h3>
                <a class="waves-effect waves-light btn modal-trigger  center " href="#modaleActu" style="background-color: #880000"><i class="material-icons left">edit</i>Crea Actu.</a>

                <form action="/admin/evenement" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="icon_prefix" name="nomevent" type="text" class="validate">
                            <label for="icon_prefix">Nom de l'evenement</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="icon_telephone" name="dateevent" type="date" class="validate">
                            <label for="icon_telephone">Date</label>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn" style="background-color:#880000">
                            <span>Affiche Evenement</span>
                            <input type="file" name="AfficheEvt" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" name="AfficheEvt" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <textarea id="textarea1" name="descriptionEvt" class="materialize-textarea"></textarea>
                            <label for="textarea1">Description Evenement</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 l6">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="icon_lieu" name="nomlieu" type="text" class="validate">
                            <label for="icon_lieu">lieu</label>
                        </div>







                    </div>

                    <button class="waves-effect waves-light btn right" type="submit" style="background-color: #880000"><i class="material-icons left">save</i>SAUVEGARDER</button>
                    <a class="waves-effect waves-light btn  left" style="background-color: #880000"><i class="material-icons left">eye</i>Historique Evenement</a>
                </form>
            </div>












        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="modal1" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <div class="row">

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>

                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>






















                <div class="col l6">
                    <div class="card-panel white z-depth-3">
                        <span class="black-text">I am a very simple card. I am good at containing small bits of information.
                                              er frameworks.
                                       </span>


                    </div>


                </div>











            </div>






        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="rubriquepart" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">


            <div class="col s12 m7">
                <%rubrique.forEach(function(element) { %>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="/<%=element.logorubrique%> " width=150 height="150">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn   modal-trigger left" href="#listeitem" style="background-color: #880000"><i class="material-icons left">edit</i>LISTE DES ITEMS</a>

                                <a class="waves-effect waves-light btn   modal-trigger right" href="#<%=element._id%>" style="background-color: #880000"><i class="material-icons left">edit</i>Ajouter Item</a>

                            </div>
                        </div>
                    </div>
                    <%})%>
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="/images/gallary/13.png " width=150 height="150">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>I A le le life Academy poufmmmmfflllrff am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">voir plus</a>
                                    <a href="#" class="right">Ajouter pdf</a>
                                </div>
                            </div>
                        </div>

                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="images/gallary/13.png " width=150 height="150">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">voir plus</a>
                                    <a href="#" class="right">Ajouter pdf</a>
                                </div>
                            </div>
                        </div>

                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="images/gallary/13.png " width=150 height="150">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">voir plus</a>
                                    <a href="#" class="right">Ajouter pdf</a>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>














    <div id="listeitem" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">


            <div class="col s12 m7">
                <%rubrique.forEach(function(element) { %>

                    <%for(var i=0 ; i<=element.details.length ; i++) {  
                        
                        if(element.details[i]){
                        
                        
                        
                        %>
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="/<%=element.details[i].imagedetails%> " width=150 height="150">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>
                                        <%=element.details[i].desciptiondetails%>.</p>
                                </div>
                                <div class="card-action">
                                    <a class="waves-effect waves-light btn   modal-trigger left" href="#<%=element._id%>" style="background-color: #880000"><i class="material-icons left">edit</i> Editer</a>

                                    <a class="waves-effect waves-light btn   modal-trigger right" href="#<%=element._id%>" style="background-color: #880000"><i class="material-icons left">edit</i>Suppimer</a>

                                </div>
                            </div>
                        </div>
                        <%}}})%>
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="/images/gallary/13.png " width=150 height="150">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>I A le le life Academy poufmmmmfflllrff am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">voir plus</a>
                                        <a href="#" class="right">Ajouter pdf</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="images/gallary/13.png " width=150 height="150">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">voir plus</a>
                                        <a href="#" class="right">Ajouter pdf</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="images/gallary/13.png " width=150 height="150">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">voir plus</a>
                                        <a href="#" class="right">Ajouter pdf</a>
                                    </div>
                                </div>
                            </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>














    <div id="eventactu" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <div class="col s12 m7">

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="images/gallary/13.png " width=150 height="150">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn   modal-trigger left" href="#AjouterItem" style="background-color: #880000"><i class="material-icons left">edit</i>LISTE DES ITEMS</a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="images/gallary/13.png " width=150 height="150">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">voir plus</a>
                            <a href="#" class="right">Ajouter pdf</a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="images/gallary/13.png " width=150 height="150">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">voir plus</a>
                            <a href="#" class="right">Ajouter pdf</a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="images/gallary/13.png " width=150 height="150">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">voir plus</a>
                            <a href="#" class="right">Ajouter pdf</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>
    <% rubrique.forEach(function(element) { %>
        <div id="<%=element._id%>" class="modal" style="background-color:#edf1f7 ">
            <div class="modal-content">
                <h2>AJOUTER DES ITEMS</h2>
                <div class="row">

                    <form action="/admin/item" method="POST" enctype="multipart/form-data">

                        <p>
                            <%=element._id%>
                        </p>
                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <textarea id="textarea1" name="descriptionItem" class="materialize-textarea"></textarea>
                            <label for="textarea1">Description de l'Item</label>
                        </div>





                        <div class="file-field col l12">
                            <div class="btn" style="background-color: #880000">
                                <span>Image de l'item</span>
                                <input type="file" name="imageitem" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" name="imageitem" type="text" placeholder="Choisisser le logo de le rubrique">
                            </div>
                        </div>


                        <input type="hidden" name="clevalue" value="<%=element._id%>">

                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <textarea id="textarea1" name="ContenuItem" class="materialize-textarea"></textarea>
                            <label for="textarea1">Contenu</label>
                        </div>

                        <button class="waves-effect waves-light btn right" type="submit" style="background-color: #880000"><i class="material-icons left">save</i>SAUVEGARDER</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer ">
                <a href="#! " class="modal-close waves-effect waves-green btn-flat ">Fermer</a>
            </div>
        </div>

        <%})%>






            <div id="modaleEcole" class="modal" style="background-color:#edf1f7 ">

                <div class="modal-content">
                    <h2>Nos ECOLES</h2>
                    <div class="row">

                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img src="/assets/Images/familleB.jpg">

                                    </div>
                                </a>

                            </div>
                        </div>


                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img src="/assets/Images/lac/Logo Ecole du Service.png">

                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img src="/assets/Images/perceB.jpg">

                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img s rc="/assets/Images/estherB.jpg">

                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img src="/assets/Images/royauteB.jpg">

                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="col s12 m7 l6">
                            <div class="card">
                                <a href="">
                                    <div class="card-image">
                                        <img src="/assets/Images/filsetfillesderoisB.jpg">

                                    </div>
                                </a>


                            </div>
                        </div>




                    </div>
                </div>
                <div class="modal-footer ">
                    <a href="#! " class="modal-close waves-effect waves-green btn-flat ">Fermer</a>
                </div>
            </div>
















            <div id="school" class="modal" style="background-color:#edf1f7 ">
                <div class="modal-content">
                    <h2 style="color:#880000"><i class="material-icons prefix" style="color:#880000">school</i>CREATION D'ECOLE </h2>

                    <form action="/admin/doffou" method="POST" enctype="multipart/form-data">
                        <div class="input-field col s6">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="icon_prefix" type="text" name="nomEcole" class="validate">
                            <label for="icon_prefix">Nom de l'Ecole</label>
                        </div>


                        <div class="file-field col l12">
                            <div class="btn" style="background-color: #880000">
                                <span>LOGO DE L'ECOLE</span>
                                <input type="file" name="logoEcole" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" name="logoEcole" type="text" placeholder="Choisisser le logo de le rubrique">
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color:#880000">edit</i>
                                <textarea id="textarea1" name="descriptionEcole" class="materialize-textarea"></textarea>
                                <label for="textarea1">Description de l'école</label>


                            </div>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="icon_prefix" type="text" name="nomrespo" class="validate">
                            <label for="icon_prefix">Nom du responsable</label>
                        </div>




                        <div class="col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <div class="input-field inline">
                                <input id="email_inline" type="email" name="emailrespo" class="validate">
                                <label for="email_inline">Email du responsable</label>
                                <span class="helper-text" data-error="Email ERROR" data-success="OK">Verificateur</span>
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="password" type="password" name="motpassEcole" class="validate">
                            <label for="password">Mot de passe</label>
                        </div>


                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <input id="password" type="password" name="motpassEcoleconf" class="validate">
                            <label for="password">Confirmation mot de passe</label>
                        </div>

                        <button class="waves-effect waves-light btn   modal-trigger right" type="submit" style="background-color: #880000"><i class="material-icons left">edit</i>CREER</button>
                    </form>
                </div>






                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
                </div>
            </div>



            <div id="modal2" class="modal" style="background-color:#edf1f7 ">
                <div class="modal-content">

                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Dernier mois</div>
                            <div class="collapsible-body">


                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="images/icon/laptop.png" alt="" class="circle">
                                        <span class="title">nom ou prenom</span><br>
                                        <span class="title">montant</span>

                                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="images/icon/laptop.png" alt="" class="circle">
                                        <span class="title">nom ou prenom</span><br>
                                        <span class="title">montant</span>

                                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                    </li>
                                    <br>
                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                            <img src="images/icon/laptop.png" alt="" class="circle">
                                            <span class="title">nom ou prenom</span><br>
                                            <span class="title">montant</span>

                                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                        </li>
                                    </ul>









                            </div>
                        </li>

                        </ul>

                        <a href="" class="blue-text right">voir plus >></a>

                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
                        </div>
                </div>
            </div>










            <div id="modal3" class="modal" style="background-color:#edf1f7 ">
                <div class="modal-content">

                    <h2 style="color:#880000 ">Temoignage</h2>

                    <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix" style="color:#880000">edit</i>
                            <textarea id="textarea2" name="desctemoignage" class="materialize-textarea"></textarea>
                            <label for="textarea2">Description du Temoignage</label>
                        </div>










                    </div>
                    <a class="waves-effect waves-light btn   modal-trigger right" style="background-color: #880000"><i class="material-icons left">edit</i>CREER</a>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
                    </div>
                </div>


                <div id="modaleEcole" class="modal" style="background-color:#edf1f7 ">
                    <div class="modal-content">
                        <h2>Nos ECOLES</h2>
                        <div class="row">

                            <div class="col s12 m7">
                                <div class="card">
                                    <a href="">
                                        <div class="card-image">
                                            <img src="assets/Images/familleB.jpg">

                                        </div>
                                    </a>

                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="modal-footer ">
                        <a href="#! " class="modal-close waves-effect waves-green btn-flat ">Fermer</a>
                    </div>
                </div>

























                <div id="AjouterItem" class="modal" style="background-color:#edf1f7 ">
                    <div class="modal-content">
                        <h2>AJOUTER DES ITEMS</h2>


                        <form action="/doffou" method="post">
                            <div class="row">



                                <div class="file-field col l6">
                                    <div class="btn red" style="background-color: #880000; color:#880000">
                                        <span>IMAGE</span>
                                        <input type="file" name="logorubique" multiple>
                                    </div>
                                    <div class="file-path-wrapper ">
                                        <input class="file-path validate " name=" logorubique" type="text " placeholder="SELECTIONNER LE LOGO ">
                                    </div>
                                </div>


                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color:#880000">edit</i>
                                    <textarea id="textarea1" name="descriptionItem" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Description de l'Item</label>
                                </div>

                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color:#880000">edit</i>
                                    <textarea id="textarea1" name="descriptionItem" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Contenu</label>
                                </div>



                            </div>

                        </form>
                    </div>
                    <div class="modal-footer ">
                        <a href="#! " class="modal-close waves-effect waves-green btn-flat ">Fermer</a>
                    </div>
                </div>




</body>
<script src="/js/jquery.js "></script>
<script src="/js/materialize.js "></script>
<script src="/js/init.js "></script>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });

    $(document).ready(function() {
        $('textarea#textarea2').characterCounter();
    });
</script>